body{
  background:#050512;
  color:#0ff;
  font-family:Arial;
  text-align:center;
}

.box{
  width:400px;
  margin:60px auto;
  padding:20px;
  border:2px solid #0ff;
  border-radius:10px;
  background:#000;
}

button{
  padding:10px 20px;
  margin:5px;
  background:#111;
  color:#0ff;
  border:1px solid #0ff;
  cursor:pointer;
}

button:disabled{
  background:#333;
  color:#666;
}

input,select{
  width:80%;
  padding:8px;
  margin:5px;
}

#quiz-container{
  width:900px;
  margin:auto;
}

#topBar{
  display:flex;
  justify-content:space-between;
}

#timer{
  width:200px;
  border:1px solid #0ff;
  position:relative;
}

#timer-bar{
  height:100%;
  background:#0ff;
  width:100%;
}

#timer-text{
  position:absolute;
  width:100%;
  left:0;
  top:0;
}

#mainArea{
  display:flex;
}

#quiz{
  width:60%;
  padding:20px;
}

.option-btn{
  display:block;
  width:100%;
  margin:5px;
}

.correct{background:green;}
.wrong{background:red;}

#money-list{
  width:40%;
  list-style:none;
  padding:0;
}

.ladder-btn{
  padding:5px;
  border:1px solid #0ff;
}

.current{
  background:#0ff;
  color:#000;
}

.used{
  background:#333 !important;
}
