body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle, #020024, #090979, #000);
  color: #00f2fe;
  text-align: center;
  min-height: 100vh;
}

/* TITLE */
#gameTitle {
  font-size: 3.5rem;
  text-shadow: 0 0 20px #00f2fe;
  animation: glow 2s infinite alternate;
}

/* BUTTONS */
button {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  border: none;
  padding: 14px 30px;
  color: black;
  font-size: 1rem;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0 15px #00f2fe;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.1) rotateX(10deg);
}

/* QUIZ */
#quiz {
  background: rgba(0,0,0,0.7);
  margin: 20px auto;
  padding: 25px;
  border-radius: 20px;
  max-width: 700px;
  box-shadow: 0 0 30px #00f2fe;
}

/* OPTIONS */
.option-btn {
  width: 90%;
  margin: 10px;
  padding: 12px;
  background: #00c6ff;
  border-radius: 10px;
  font-weight: bold;
}

.option-btn.correct { background: #00ff00; }
.option-btn.wrong { background: #ff3b3b; }

/* TIMER */
#timer-container {
  width: 80%;
  height: 25px;
  background: #222;
  margin: 10px auto;
  border-radius: 20px;
  overflow: hidden;
}

#timer-bar {
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #00ffcc, #00f2fe);
  transition: width 1s linear;
}

#timer-text {
  position: relative;
  top: -23px;
  color: #fff;
}

/* PHONE */
#callScreen {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
}

.phone {
  width: 280px;
  height: 520px;
  background: #111;
  border-radius: 35px;
  padding: 15px;
  box-shadow: 0 0 30px #00f2fe;
  animation: phonePop 0.6s ease;
}

.phone-screen {
  flex: 1;
  background: linear-gradient(#001f2f,#003f5c);
  color: #00f2fe;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  animation: screenGlow 1.5s infinite alternate;
}

/* AUDIENCE */
#audienceScreen {
  position: fixed;
  inset: 0;
  display: none;
  background: rgba(0,0,0,0.9);
}

.audience-box {
  background: #111;
  padding: 20px;
  border-radius: 20px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0 0 30px #00f2fe;
}

.vote {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bar {
  flex: 1;
  height: 15px;
  background: #00f2fe;
  width: 0%;
  transition: width 1.2s ease;
}

/* ANIMATIONS */
@keyframes glow {
  from { text-shadow: 0 0 10px #00f2fe; }
  to { text-shadow: 0 0 30px #00f2fe; }
}

@keyframes phonePop {
  from { transform: scale(0.7); }
  to { transform: scale(1); }
}

@keyframes screenGlow {
  from { box-shadow: inset 0 0 10px #00f2fe; }
  to { box-shadow: inset 0 0 25px #00f2fe; }
}
